<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="TraceAppender"/>
    </root>
  </log4net>
    <appSettings>
        <add key="WordTemplatesFullDir" value="WezyrApplication\Presentation\Common\MVApplication\Resources\ExcelTemplates\Documents\Decisions\"/>
        <!--<add key="WordDecisionTemplates" value="ExcelTemplates\Documents\Decisions\"/>-->
        <!--<add key="TemporaryFilesDir" value="..\..\..\..\..\..\Presentation\Common\MVApplication\Temporary"/>-->
        <add key="WorkflowTemplatesDir" value="WorkflowTemplates" />
        <add key="ResourcesDir" value="Resources"/>
        <add key="WordTemporaryDir" value="\Presentation\Common\MVApplication\Temporary"/>
        <add key="WordTemplatesDir" value="ExcelTemplates\Documents"  />
        <add key="WordDecisionTemplates" value="Decisions"/>
        <add key="WordWezyrDir" value="WezyrApplication"/>
        <add key="LocalizationFmt" value="lang_*.xml"/>

        <add key="testEnvEmailAddress" value="mars_test@softwaremind.pl"/>
        <add key="DefaultEmailAddress" value="lunc@softwaremind.pl"/>
        <add key="MainPageAddress" value="http://localhost:3542/Default.aspx"/>
    </appSettings>
</configuration>
