<?xml version="1.0"?>
<configuration>
  <configSections>

    <section name="DataObjects.NET" type="DataObjects.NET.ConfigurationSectionHandler, DataObjects.NET"/>
  </configSections>
  <DataObjects.NET>
    <!--<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
connectionUrl="oracle://wezyr:ryzew@10.1.1.189:1521/orcl?ApplicationName=Wezyr"
connectionUrl="oracle://wezyr:ryzew@10.1.1.55:1521/oracle55?ApplicationName=Wezyr"
connectionUrl="oracle://wezyr:ryzew@10.1.1.55:1521/WEZYR_TEST?ApplicationName=Wezyr"
connectionUrl="oracle://wezyr:ryzew@10.1.1.55:1521/WEZYR_DEV?ApplicationName=Wezyr"
  connectionUrl="oracle://wezyr:ryzew@10.1.2.149:1521/MARS_TEST?ApplicationName=Wezyr"
  connectionUrl="oracle://wezyr:ryzew@127.0.0.1:1521/orcl?ApplicationName=Wezyr"
  connectionUrl="oracle://wezyr:ryzew@10.1.2.149:1521/MARSTEST3?ApplicationName=Wezyr"
  connectionUrl="oracle://wezyr:ryzew@swmindlupo:1521/lupo666.softwaremind.pl?ApplicationName=Wezyr"
  connectionUrl="oracle://wezyr:ryzew@mars:1521/mars?ApplicationName=Wezyr"
  connectionUrl="oracle://wezyr:ryzew@mars:1521/wenusdev?ApplicationName=Wezyr"
  connectionUrl="oracle://wezyr:ryzew@mars:1521/Mars2?ApplicationName=Wezyr"
 connectionUrl="oracle://system:oraadmin@10.2.1.75:1521/talwezyr?ApplicationName=Wezyr"updateMode="PerformComplete"
 
 oracle://system:orcl@127.0.0.1:1521/orcl
-->
    <domain connectionUrl="oracle://system:wezyr@127.0.0.1:1521/wezyr" productKey="Kj0fhmjalYVIv3FlEm7gHZPANdyS3HH#kflIpXBRvsyyLemkrfM3vOGzOsW#e0Joyqs3x9W26YXLaagsZA#ek32sYGHv6H24uVK8fOpcnRr8vd6KIId#E1" debugInfoOutputFolder="DODebug" databaseOptions="CreateNullRows, UseOuterJoins" securityOptions="Minimal" securityMode="Standard" sessionSecurityOptions="Minimal" remoteSessionSecurityOptions="Minimal" threadedBuildExecution="false" updateMode="PerformComplete" enableCommandTrace="true" globalCacheSize="10000000" changeCacheSize="0" styleID="1" connectionLifeTime="0" connectionCleanInterval="0">
      <cultures defaultCulture="Pl">
        <culture name="Pl" title="Polska" cultureName="pl-Pl"/>
        <culture name="En" title="English" cultureName="en-Us"/>
      </cultures>
    </domain>
  </DataObjects.NET>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
